.sobre-web-design {
  justify-content: space-between;
  align-items: center;
}

.sobre-web-design article {
  width: 250px;
}

.sobre-web-design article h1 {
  font-size: 75px;
  line-height: 90%;
  font-weight: 400;
  color: #B5CDED;
}

.sobre-web-design article h2,
.sobre-web-design article p {
  color: #fff;
}

.sobre-web-design article h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 200%;
}

.sobre-web-design article p {
  margin: 10px 0 40px;
}

.sobre-web-design figcaption img {
  width: 700px;
}
